name = "streamerstickpro-live"
pages_build_output_dir = "./dist"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

[vars]
NODE_ENV = "production"
RESEND_FROM_EMAIL = "noreply@streamstickpro.com"
VITE_SUPABASE_URL = "https://emlqlmfzqsnqokrqvmcm.supabase.co"
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVtbHFsbWZ6cXNucW9rcnF2bWNtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM4ODQ0OTIsImV4cCI6MjA3OTQ2MDQ5Mn0.gD54kCrRiqLCpP_p6cEO4-r9GSIAJSuN4PKWx5Dnyeg"
VITE_SECURE_HOSTS = "secure.streamstickpro.com"
VITE_STORAGE_BUCKET_NAME = "imiges"
VITE_API_BASE_URL = "https://secure.streamstickpro.com"
ADMIN_USERNAME = "admin"

[secrets]
DATABASE_URL
SESSION_SECRET
STRIPE_SECRET_KEY
STRIPE_PUBLISHABLE_KEY
STRIPE_WEBHOOK_SECRET
RESEND_API_KEY
SUPABASE_SERVICE_KEY
ADMIN_PASSWORD
CLOUDFLARE_ACCOUNT_ID
CLOUDFLARE_API_TOKEN
