name = "streamerstickprofinal"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

[build]
command = "npm run build:worker"

[site]
bucket = "./dist"

[vars]
NODE_ENV = "production"
