name = "streamerstickpro-live"
pages_build_output_dir = "./dist"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

[env.production]
name = "streamerstickpro-live"
routes = [
  { pattern = "streamstickpro.com/*", zone_name = "streamstickpro.com" }
]
